<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shareloc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareLoc"
        android:usesCleartextTraffic="true" > <!-- com.android.volley.NoConnectionError: java.io.IOException: Cleartext HTTP traffic to cdad172.iutrs.unistra.fr not permitted -->
        <activity
            android:name=".Authentication"
            android:noHistory="true"> <!-- On détruit l'activité quand elle n'est plus affichée -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShareLoc.NoActionBar" />
    </application>

</manifest>